<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<setting useStatementNamespaces="false" />
		<setting cacheModelsEnabled="true" />
		<setting validateSqlMap="true" />
	</settings>

	<database>
		<provider name="sqlServer4.0" />
		<dataSource name="EveData" connectionString="Data Source=(local);Initial Catalog=4.0.0.0.LOCAL.EveOnline2;Integrated Security=True"/>
	</database>

	<alias>
		<typeAlias alias="BlueprintMaterialRow" type="WindEveMagnat.Domain.BlueprintMaterialRow, WindEveMagnat.Domain" />

		<!-- New Entities -->
		<typeAlias alias="InvTypeMaterial" type="WindEveMagnat.Domain.Wind.Eve.InvTypeMaterial, WindEveMagnat.Domain" />
		<typeAlias alias="InvType" type="WindEveMagnat.Domain.Wind.Eve.InvType, WindEveMagnat.Domain" />
		<typeAlias alias="InvBlueprintType" type="WindEveMagnat.Domain.Wind.Eve.InvBlueprintType, WindEveMagnat.Domain" />
		<typeAlias alias="InvMetaGroup" type="WindEveMagnat.Domain.Wind.Eve.InvMetaGroup, WindEveMagnat.Domain" />
		<typeAlias alias="InvMarketGroup" type="WindEveMagnat.Domain.Wind.Eve.InvMarketGroup, WindEveMagnat.Domain" />
		<typeAlias alias="InvGroup" type="WindEveMagnat.Domain.Wind.Eve.InvGroup, WindEveMagnat.Domain" />
		<typeAlias alias="RamActivity" type="WindEveMagnat.Domain.Wind.Eve.RamActivity, WindEveMagnat.Domain" />
		<typeAlias alias="RamTypeRequirement" type="WindEveMagnat.Domain.Wind.Eve.RamTypeRequirement, WindEveMagnat.Domain" />
		<typeAlias alias="MapRegion" type="WindEveMagnat.Domain.Wind.Eve.MapRegion, WindEveMagnat.Domain" />
	</alias>

	<sqlMaps>
		<sqlMap embedded="WindEveMagnat.Persistence.Maps.ProductionMap.xml, WindEveMagnat.Persistence" />
		<sqlMap embedded="WindEveMagnat.Persistence.Maps.NewEntitiesMap.xml, WindEveMagnat.Persistence" />
	</sqlMaps>
</sqlMapConfig>