<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<setting useStatementNamespaces="false" />
		<setting cacheModelsEnabled="true" />
		<setting validateSqlMap="true" />
	</settings>

	<database>
		<provider name="sqlServer4.0" />
		<dataSource name="EveData" connectionString="Data Source=(local);Initial Catalog=4.0.0.0.LOCAL.EveOnline2;Integrated Security=True"/>
	</database>

	<alias>
		<typeAlias alias="BlueprintMaterialRow" type="WindEveMagnat.Domain.BlueprintMaterialRow, WindEveMagnat.Domain" />
		<typeAlias alias="EveType" type="WindEveMagnat.Domain.Eve.EveType, WindEveMagnat.Domain" />
		<typeAlias alias="MarketGroup" type="WindEveMagnat.Domain.MarketGroup, WindEveMagnat.Domain" />
		<typeAlias alias="TestTable" type="WindEveMagnat.Domain.TestTable, WindEveMagnat.Domain" />
	</alias>

	<sqlMaps>
		<sqlMap embedded="WindEveMagnat.Persistence.Maps.ProductionMap.xml, WindEveMagnat.Persistence" />
		<sqlMap embedded="WindEveMagnat.Persistence.Maps.EveEntitiesMap.xml, WindEveMagnat.Persistence" />
		<sqlMap embedded="WindEveMagnat.Persistence.Maps.TestMap.xml, WindEveMagnat.Persistence" />
	</sqlMaps>
</sqlMapConfig>